@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.slide.lastSlide {
  transform: translateX(-100%);
}
.slide.nextSlide {
  transform: translateX(100%);
}
